<body>
    <div id="mySidenav" class="sidenav bg-dark">
        <a href="#">All Categories</a>
        <a href="#">Bread</a>
        <a href="#">Dairy</a>
        <a href="#">Fruits</a>
        <a href="#">Vegetables</a>
        <a href="#">Seasonings and Spices</a>
    </div>



    <div class="container d-flex justify-content-center mt-50 mb-50 products">
        <div class="row">
          <div *ngFor="let product of products; let i = index" class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions"> <img
                                src={{product.picture}}
                                class="card-img img-fluid" width="96" height="350" alt=""> </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2 ">
                            <h6>{{product.name}}</h6>
                        </div>
                        <h4 class="mb-0 font-weight-semibold">{{product.price}}</h4>
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                            cart</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>